In [1]:
import pandas as pd

In [2]:
"""Defines connection and cursor.

To use this module, just run something like:

from db import connection, cursor
cursor.execute("update counties set fips=fips;")
connection.commit()

See https://wiki.postgresql.org/wiki/Psycopg2_Tutorial for more.
"""
import psycopg2
import os
password = os.getenv('ENERGY_PORTAL_DB_PASS')
print(password)

connection = psycopg2.connect("dbname='energy_portal' user='energy_portal' host='stantron2.stanford.edu' password='%s'" % (password))
cursor = connection.cursor()

cursor.execute("select tract_id, puma_id from census_tracts_to_puma_2010;")
for row in cursor.fetchall():
    tract_id, puma_id = row
    print("Tract: %s, puma: %s" % (tract_id, puma_id))
    break

energy
Tract: 01001020100, puma: 0102100

In [55]:
data = pd.read_csv("../acs_puma/2010_Census_Tract_to_2010_Puma.txt");

In [4]:
data2  = pd.read_csv("data/tract.csv");

C:\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (51,52,53,630,631,632,634,635,636,649,667,668,669,670,671,672,716,718,719,722,725,728,731,927,938,939,940,942,943,1069,1070,1071) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
data3 = pd.read_csv("../../join/puma_to_counties/join.csv")

In [68]:
 ids = data[['PUMA5CE', 'TRACTCE']]

In [69]:
ids

       PUMA5CE  TRACTCE
0         2100    20100
1         2100    20200
2         2100    20300
3         2100    20400
4         2100    20500
5         2100    20600
6         2100    20700
7         2100    20801
8         2100    20802
9         2100    20900
10        2100    21000
11        2100    21100
12        2600    10100
13        2600    10200
14        2600    10300
15        2600    10400
16        2600    10500
17        2600    10600
18        2600    10701
19        2600    10703
20        2600    10704
21        2600    10705
22        2600    10800
23        2600    10903
24        2600    10904
25        2600    10905
26        2600    10906
27        2600    11000
28        2600    11101
29        2600    11102
...        ...      ...
74061      100   970300
74062      100   970400
74063      100   970500
74064      100   970600
74065      100   970700
74066      100   970800
74067      100   970900
74068      100   971000
74069      100   971100
74070      100   971200
74071      100   971300
74072      100   971400
74073      100   971500
74074      100   990000
74075      100   950100
74076      100   950200
74077      100   990000
74078      100   960100
74079      100   960200
74080      100   960300
74081      100   960400
74082      100   960500
74083      100   960600
74084      100   960700
74085      100   960800
74086      100   960900
74087      100   961000
74088      100   961100
74089      100   961200
74090      100   990000

[74091 rows x 2 columns]

In [70]:
tractuds = data[['STATEFP', 'COUNTYFP', 'TRACTCE']]

In [71]:
ids.PUMA5CE = data.PUMA5CE + data.STATEFP
ids.TRACTCE = data.TRACTCE + data.COUNTYFP + data.STATEFP

In [73]:
ids = ids.rename(columns = {'PUMA5CE': "Puma_id", 'TRACTCE': "Tract_id"})

In [50]:
data3

      puma_id  county_id   weight1   weight2
0      100100       1033  0.297872  1.000000
1      100100       1059  0.191489  1.000000
2      100100       1077  0.468085  1.000000
3      100100       1093  0.042553  0.250000
4      100200       1083  0.551724  1.000000
5      100200       1089  0.448276  0.178082
6      100301       1089  1.000000  0.356164
7      100302       1089  1.000000  0.410959
8      100400       1049  0.560000  1.000000
9      100400       1071  0.440000  1.000000
10     100500       1089  0.181818  0.054795
11     100500       1095  0.818182  1.000000
12     100600       1079  0.250000  1.000000
13     100600       1103  0.750000  1.000000
14     100700       1043  0.720000  1.000000
15     100700       1133  0.280000  1.000000
16     100800       1009  0.409091  1.000000
17     100800       1115  0.590909  1.000000
18     100900       1055  1.000000  1.000000
19     101000       1019  0.142857  1.000000
20     101000       1027  0.095238  1.000000
21     101000       1029  0.095238  1.000000
22     101000       1111  0.142857  1.000000
23     101000       1121  0.523810  1.000000
24     101100       1015  1.000000  1.000000
25     101200       1117  1.000000  1.000000
26     101301       1073  1.000000  0.196319
27     101302       1073  1.000000  0.190184
28     101303       1073  1.000000  0.233129
29     101304       1073  1.000000  0.220859
...       ...        ...       ...       ...
4598  7200701      72057  0.357143  1.000000
4599  7200701      72095  0.107143  1.000000
4600  7200701      72109  0.142857  1.000000
4601  7200701      72123  0.250000  1.000000
4602  7200801      72021  1.000000  0.548387
4603  7200802      72021  1.000000  0.451613
4604  7200803      72033  0.439024  1.000000
4605  7200803      72061  0.560976  1.000000
4606  7200804      72127  1.000000  0.584615
4607  7200805      72127  1.000000  0.223077
4608  7200806      72127  1.000000  0.192308
4609  7200901      72031  1.000000  0.976190
4610  7200902      72029  0.315789  1.000000
4611  7200902      72031  0.026316  0.023810
4612  7200902      72087  0.263158  1.000000
4613  7200902      72139  0.394737  1.000000
4614  7201001      72025  1.000000  1.000000
4615  7201002      72063  0.275862  1.000000
4616  7201002      72077  0.206897  1.000000
4617  7201002      72085  0.206897  1.000000
4618  7201002      72129  0.310345  1.000000
4619  7201101      72037  0.142857  1.000000
4620  7201101      72049  0.057143  1.000000
4621  7201101      72053  0.257143  1.000000
4622  7201101      72089  0.142857  1.000000
4623  7201101      72119  0.314286  1.000000
4624  7201101      72147  0.085714  1.000000
4625  7201102      72069  0.500000  1.000000
4626  7201102      72103  0.166667  1.000000
4627  7201102      72151  0.333333  1.000000

[4628 rows x 4 columns]

In [6]:
 u = u.rename(columns = {'B00001_001': "Population", 'Full FIPS': "GEOID"})

In [29]:
data._data.

AttributeError: 'BlockManager' object has no attribute '__attr__'

In [7]:
u.__dict__

{'_data': BlockManager
 Items: Index([u'GEOID', u'Population'], dtype='object')
 Axis 1: RangeIndex(start=0, stop=3220, step=1)
 ObjectBlock: slice(0, 1, 1), 1 x 3220, dtype: object
 IntBlock: slice(1, 2, 1), 1 x 3220, dtype: int64,
 '_item_cache': {},
 'is_copy': None}

In [8]:
u = u.sort_values('GEOID', ascending = True)

In [9]:
u.to_csv('parsed/county_population.csv', index = False);